# Default ignored files
/shelf/
/workspace.xml

# Исключить папки и файлы проекта
.idea/      # Конфигурации IDE, такие как IntelliJ IDEA
.build/     # Сборочные артефакты
.target/    # Каталоги для сборки Maven или других инструментов

# Общие системные файлы
*.iml       # Файлы модулей IntelliJ IDEA
*.log       # Логи

# Исключить операционные системные файлы
.DS_Store   # macOS
Thumbs.db   # Windows